.title-table-container {
  display: flex;
  width: 100%;
  column-gap: 10px;
  justify-content: space-between;
  max-width: 600px;
}

.winner-line {
  display: flex;
  width: 100%;
  column-gap: 10px;
  justify-content: space-between;
  max-width: 600px;
}