@use '../../styles/colors';
@use '../../styles//fonts';

.table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: colors.$white;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.title-table-container {
  display: grid;
  grid-template-columns: 2fr 3fr 7fr 2fr 3fr;
  width: 100%;
  column-gap: 10px;
  justify-content: space-between;
}

.winner-line {
  display: grid;
  grid-template-columns: 2fr 3fr 7fr 2fr 3fr;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;
}


.winners-container {
  align-items: center;
  width: 100%;
}

.table-title {
  font-weight: 600;
  font-size: 16px;
}

.table-title-btn {
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: Atma;
  font-weight: 600;
  color: colors.$white;
}