@use './colors';
@use './fonts';

body {
  margin: 0;
  padding-bottom: 30px;
  font-family: Atma;
  background: url("../styles/textures/background.webp") no-repeat;
}

.btn {
  cursor: pointer;

  position: relative;
  z-index: 5;

  padding: 5px 15px;
  border: 2px solid colors.$dark-red;
  border-radius: 15px;

  font-family: Atma;
  font-weight: 600;
  color: colors.$light-red;

  background-color: colors.$brown;
  box-shadow: 0 2px 10px colors.$brown-70;

  &:disabled {
    background-color: colors.$dark-grey;
    color: colors.$grey;
    border: 2px solid colors.$dark-grey-border;
  }
}

h2 {
  margin: 0;
  font-weight: 700;
  color: colors.$white;
  text-align: center;
}

h3 {
  margin: 0;
  color: colors.$white;
  text-align: center;
}

.page-btns-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}