@use '../../styles/colors';

.car-road {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &::after {
    position: absolute;
    content: '';
    background: url(../../styles/textures/road_2.webp);
    background-size: contain;
    width: 100%;
    left: 0;
    top: 20px;
    height: 100px;
    z-index: -1;
  }
}

.car-options {
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;
}

.garage {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.car-title {
  margin: 0;
  display: inline-block;
  color: colors.$white;
}

.car-container {
  position: relative;
  height: 100%;
  width: 100%;

  &::after {
    position: absolute;
    content: '';
    height: 85px;
    width: 70px;
    background: url(../../styles/textures/flag.webp) no-repeat;
    background-size: contain;
    top: -48px;
    right: 70px;
    z-index: 10;
  }
}

.car {
  position: absolute;
  top: -42px;
  left: 0;
  border-radius: 10px;
}

.car-image {
  position: absolute;
  top: 0;
}

.front-wheel {
  position: absolute;
  top: 25px;
  left: -5px;
  z-index: 5;
  transform-origin: 50% 43%;
}

.back-wheel {
  position: absolute;
  top: 25px;
  left: 75px;
  z-index: 5;
  transform-origin: 50% 43%;
}

.road-container {
  display: flex;
  row-gap: 50px;
  margin: 40px 0;
  flex-direction: column;
}

.road {
  display: flex;
  column-gap: 20px;
}

.car-controller-btns-container {
  display: flex;
  gap: 10px;
}

.car-options-btns-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.car-selector-btns-container {
  display: flex;
  gap: 10px;
}

.car-options-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-creator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.car-updater {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-input {
  box-sizing: content-box;
  height: 30px;
  outline: none;
  font-family: Atma;
  font-weight: 600;
  color: colors.$light-red;
  position: relative;
  border: 2px solid colors.$dark-red;
  background-color: colors.$brown;
  border-radius: 15px;
  padding: 2px 15px;
  z-index: 5;
  cursor: pointer;
  box-shadow: 0 2px 10px colors.$brown-70;

  &::placeholder {
    color: colors.$light-red-darken;
  }
}

.color-input {
  box-sizing: content-box;
  height: 30px;
  width: 30px;
  outline: none;
  font-family: Atma;
  font-weight: 600;
  color: colors.$light-red;
  position: relative;
  border: 2px solid colors.$dark-red;
  background-color: colors.$brown;
  border-radius: 15px;
  padding: 2px 6px;
  cursor: pointer;
  box-shadow: 0 2px 10px colors.$brown-70;

  input[type="color" i] {
    box-sizing: content-box;
  }
}