@use '../../styles/colors';

.car-road {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  // background: url(../../styles/textures/road.webp);
  // background-size: contain;

  &::after {
    position: absolute;
    content: '';
    background: url(../../styles/textures/road_2.webp);
    background-size: contain;
    width: 100%;
    left: 0;
    top: 20px;
    height: 100px;
    z-index: -1;
  }
}

.car-options {
  text-align: center;
}

.garage {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.car-title {
  margin: 0;
  display: inline-block;
  color: colors.$white;
}

.car-container {
  position: relative;
  height: 100%;
  width: 100%;

  &::after {
    position: absolute;
    content: '';
    height: 85px;
    width: 70px;
    background: url(../../styles/textures/flag.webp) no-repeat;
    background-size: contain;
    top: -48px;
    right: 70px;
  }
}

.car {
  position: absolute;
  top: -35px;
  left: 0;
  border-radius: 10px;
}

.road-container {
  display: flex;
  row-gap: 50px;
  margin: 40px 0;
  flex-direction: column;
}

.road {
  display: flex;
}

.car-controller-btns-container {
  display: flex;
  gap: 10px;
}
